.head{
    text-align: center;
    font-size:300%;
    background-color: cornflowerblue;
}
.what{
    margin: 5px;

}
.history{
    margin: 30px;
   
    color: #111;
}
.never{
    width: 100%;
    height: auto;
}
.frame{
    width: 100%;
    height: auto;
}
.iframe{
 width: 100%;
 height: 500px;
 margin: 5px;
}
.fly{
    width: 100%;
    height: auto;


}
.foot{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 150%;
}
#button {
    color: greenyellow;
    background-color: grey;
}
